[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gcplyr"]
	path = gcplyr
	url = https://github.com/mikeblazanin/gcplyr
	shallow = true
	registered = true
